package series

import (
	"fmt"

	model "github.com/srlmgr/backend/html/server/model"

	"github.com/srlmgr/backend/html/server/util"
)

templ SeriesNav(c *model.SeriesContainer) {
	<nav class="bg-gray-800 text-white p-4">
		<div class="container mx-auto flex justify-between items-center">
			for _, s := range c.Serieses {
				<a href={ util.ComposeNavURL(util.HandlerURL(fmt.Sprintf("/serieses/%d", s.ID))) } class="text-lg font-semibold">{ s.Name }</a>
			}
		</div>
	</nav>
}

templ SeriesMenu(c *model.SeriesContainer, currentPath string) {
	<nav class="bg-gray-800 text-white p-4">
		<div class="container mx-auto flex justify-between items-center">
			for _, s := range c.Serieses {
				<a href={ util.ComposeNavURL(util.HandlerURL(fmt.Sprintf("/serieses/%d", s.ID))) } class="text-lg font-semibold">{ s.Name }x</a>
			}
		</div>
	</nav>
}
