package standings

import (
	"fmt"
	"strings"

	model "github.com/srlmgr/backend/html/server/model"
	baseTempl "github.com/srlmgr/backend/html/server/templates"
	util "github.com/srlmgr/backend/html/server/util"
)

func navURL(url string) string {
	return util.ComposeNavURL((url))
}


func subStandingsLink(c model.SeasonNav, mode string) string {
	return fmt.Sprintf("%s/primary?skipMode=%s",
		navURL(util.SeasonsStandingsURL(int(c.Season().ID))), mode)
}

func snippetBaseURL(c model.SeasonNav) string {
	return util.AdjustedSnippetURL("/snippet", c)
}
func snippetSubStandingsLink(c *model.SeasonStandingsContainer, mode string) string {
	params := []string{
		"view=standings",
		fmt.Sprintf("seasonID=%d", c.ServiceData.Season.ID),
		fmt.Sprintf("skipMode=%s", mode),
	}
	for _, q := range []string{"eventID", "classID"} {
		if c.NavParam().QueryParam().Has(q) {
			params = append(params, fmt.Sprintf("%s=%s", q, c.NavParam().QueryParam().Get(q)))
		}
	}
	return fmt.Sprintf("%s?%s", snippetBaseURL(c.NavParam()), strings.Join(params, "&"))
}

func snippetRookieLink(c *model.SeasonStandingsContainer) string {
	return fmt.Sprintf("%s?view=standings&subtype=rookies&seasonID=%d&skipMode=always",
		snippetBaseURL(c.NavParam()), c.ServiceData.Season.ID)
}

templ primaryNav(c *model.SeasonStandingsContainer) {
	<nav class="bg-gray-800 text-white p-4">
		<div class="container mx-auto flex justify-between items-center">
			<a href={ subStandingsLink(c.NavParam(), "always") } class="text-white font-bold">inkl. Streicher</a>
			<a href={ subStandingsLink(c.NavParam(), "never") } class="text-white font-bold">ohne Streicher</a>
			<a href={ fmt.Sprintf("%s/primary/rookies", navURL(util.SeasonsStandingsURL(int(c.ServiceData.Season.ID)))) } class="text-white font-bold">Rookies</a>
		</div>
	</nav>
	@eventNav(c,false)
	if c.ServiceData.Season.IsMulticlass {
		@baseTempl.CarClassNav(c.NavParam())
	}
}

templ primaryNavSnippet(c *model.SeasonStandingsContainer) {
	<nav class="bg-gray-800 text-white p-4">
		<div class="container mx-auto flex justify-between items-center">
			<a href={ snippetSubStandingsLink(c, "always") } class="text-white font-bold">inkl. Streicher</a>
			<a href={ snippetSubStandingsLink(c, "never") } class="text-white font-bold">ohne Streicher</a>
			<a href={ snippetRookieLink(c) } class="text-white font-bold">Rookies</a>
		</div>
	</nav>
	@eventNav(c,true)
	if c.ServiceData.Season.IsMulticlass {
		@baseTempl.CarClassNav(c.NavParam())
	}
}

templ PrimaryDriverStandings(c *model.SeasonStandingsContainer, snippet bool) {
	if snippet {
		@primaryNavSnippet(c)
	} else {
		@primaryNav(c)
	}
	<table class="table-auto w-full border-collapse border border-gray-300">
		<thead>
			<tr class="bg-gray-200">
				<th class="border border-gray-300 px-4 py-2">Position</th>
				<th class="border border-gray-300 px-4 py-2">CarNum</th>
				<th class="border border-gray-300 px-4 py-2">Fahrer</th>
				<th class="border border-gray-300 px-4 py-2">Punkte</th>
			</tr>
		</thead>
		<tbody>
			for i, s := range c.ServiceData.Primary {
				<tr class={ baseTempl.ZebraRow(i) }>
					<td class="border border-gray-300 px-4 py-2">{ s.Data.Position }</td>
					<td class="border border-gray-300 px-4 py-2">{ c.ResolvePrimary(s.ReferenceID).CarNum }</td>
					<td class="border border-gray-300 px-4 py-2">{ c.ResolvePrimary(s.ReferenceID).Name }</td>
					<td class="border border-gray-300 px-4 py-2">{ s.Data.TotalPoints }</td>
				</tr>
			}
		</tbody>
	</table>
}


templ PrimaryTeamStandings(c *model.SeasonStandingsContainer, snippet bool) {
	if snippet {
		@primaryNavSnippet(c)
	} else {
		@primaryNav(c)
	}
	<table class="table-auto w-full border-collapse border border-gray-300">
		<thead>
			<tr class="bg-gray-200">
				<th class="border border-gray-300 px-4 py-2">Position</th>
				<th class="border border-gray-300 px-4 py-2">CarNum</th>
				<th class="border border-gray-300 px-4 py-2">Team</th>
				<th class="border border-gray-300 px-4 py-2">Punkte</th>
			</tr>
		</thead>
		<tbody>
			for i, s := range c.ServiceData.Primary {
				<tr class={ baseTempl.ZebraRow(i) }>
					<td class="border border-gray-300 px-4 py-2">{ s.Data.Position }</td>
					<td class="border border-gray-300 px-4 py-2">{ c.ResolvePrimary(s.ReferenceID).CarNum }</td>
					<td class="border border-gray-300 px-4 py-2">{ c.ResolvePrimary(s.ReferenceID).Name }</td>
					<td class="border border-gray-300 px-4 py-2">{ s.Data.TotalPoints }</td>
				</tr>
			}
		</tbody>
	</table>
}
